#msg-text {
    max-height: 194px;
}

.form-control.form-control-text {
    overflow: hidden;
    resize: none;
}

.form-group.form-group-last {
    margin-bottom: 0;
}



.msg-header {
    padding-bottom: 10px;
}

.msg-body {
    font-size: 120%;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.glyphicon.glyphicon-middle {
    vertical-align: middle;
}
