<!DOCTYPE html>
<html>
<head>
  <title>tg-chats / help /</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="/public/css/lib/bootstrap/default.css" rel="stylesheet" />
  <link href="/public/css/chat.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>/ help /</h1>
                        <hr/>
                        {{if .flash.error}}
                          <div class="alert alert-danger" role="alert">{{.flash.error}}</div>
                          <hr/>
                        {{end}}
                        <h2 class="text-center">TODO</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
