<!DOCTYPE html>
<html lang="ru">
<head>
  <title>dsr-chat/{{ .room }}/</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="/public/css/lib/bootstrap/default.css" rel="stylesheet" />
  <link href="/public/css/chat.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>



  <div data-room="{{ .room }}" id="chat" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

        <div class="row">
          <div class="col-xs-12 text-center">
            <h1>/ {{ .room }} /</h1>
            <hr/>
          </div>
        </div>

        {{ raw "<!-- ko if: false -->" }}
          <div class="row">
            <div class="col-xs-12 text-center text-muted">
              <h2><i class="glyphicon glyphicon-time glyphicon-middle"></i> инициализация чата...</h2>
            </div>
            <br/>
          </div>
        {{ raw "<!-- /ko -->" }}

        {{ raw "<!-- ko template: { name: 'chat-connecting-message', ifnot: connection.connected() } --><!-- /ko -->" }}

        {{ raw "<!-- ko if: connection.connected -->" }}
          {{ raw "<!-- ko template: { name: 'chat-input', data: input } --><!-- /ko -->" }}
          {{ raw "<!-- ko template: { name: 'chat-messages' } --><!-- /ko -->" }}
        {{ raw "<!-- /ko -->" }}

        <br/>

      </div>
    </div>
  </div>

  <script id="chat-connecting-message" type="text/html">
    <div class="row">
      <div class="col-xs-12 text-center text-muted">
        <h2><i class="glyphicon glyphicon-time glyphicon-middle"></i> подключение к чату...</h2>
      </div>
      <hr/>
    </div>
  </script>

  <script id="chat-input" type="text/html">
    <div class="row">
      <div class="col-xs-12">
        <form data-bind="submit: write" class="form-horizontal">
          <div class="form-group form-group-last">
            <div class="col-xs-12">
              <textarea data-bind="textInput: text, autosize: true, event: { 'keydown': handleShortcuts }" class="form-control form-control-text" id="msg-text" rows="2" placeholder="Введите сообщение и нажмите Ctrl+Enter"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>



  <script id="chat-messages" type="text/html">

    <!-- ko if: isNoMessages -->
      <div class="row">
        <div class="col-xs-12">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center text-muted">
          <h3>В этой комнате пока никто ничего не писал.</h3>
        </div>
      </div>
    <!-- /ko -->

    <!-- ko foreach: messages -->
      <div class="row">
        <div class="col-xs-12">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="msg-header" data-bind="text: header"></div>
          <div class="msg-body" data-bind="html: text" class="col-xs-12"></div>
        </div>
      </div>
    <!-- /ko -->

  </script>

  <script src="/public/js/lib/jquery.js"></script>
  <script src="/public/js/lib/bootstrap.js"></script>
  <script src="/public/js/lib/autosize.js"></script>
  <script src="/public/js/lib/knockout.js"></script>
  <script src="/public/js/lib/knockout/mapping.js"></script>
  <script src="/public/js/lib/moment.js"></script>
  <script src="/public/js/chat.js"></script>
</body>
</html>
